<% layout('/layout/boilerplate.ejs') %>  
    
<div class="category-wrapper">

  <button class="arrow left" onclick="scrollCat(-300)">&#10094;</button>

  <div class="category-slider" id="categorySlider">

    <div class="category-item">
      <a href="/listing">
        <div><i class="fa-solid fa-border-all"></i></div>
       <p>All</p>
      </a>
    </div> 

    <div class="category-item">
      <a href="/listing/category/Trending">
        <div><i class="fa-solid fa-fire"></i></div>
       <p>Trending</p>
      </a>
    </div>
    <div class="category-item">
       <a href="/listing/category/Mountain">
       <div><i class="fa-solid fa-mountain"></i></div>
       <p>Mountain</p>
      </a>
    </div>
    <div class="category-item">
      <a href="/listing/category/Hotel">
       <div><i class="fa-solid fa-bed"></i></div>
       <p>Hotel</p>
      </a>
    </div>
    <div class="category-item">
      <a href="/listing/category/MountainCity">
       <div><i class="fa-solid fa-mountain-city"></i></div>
       <p>MountainCity</p>
      </a>
    </div>
     <div class="category-item">
      <a href="/listing/category/Castels">
      <div><i class="fa-brands fa-fort-awesome"></i></div>
       <p>Castels</p>
      </a>
    </div>
     <div class="category-item">
      <a href="/listing/category/Swimming">
       <div><i class="fa-solid fa-person-swimming"></i></div>
       <p>Swimming</p>
      </a>
    </div>
     <div class="category-item">
      <a href="/listing/category/Camping">
        <div><i class="fa-solid fa-campground"></i></div>
       <p>Camping</p>
      </a>
    </div>
    <div class="category-item">
      <a href="/listing/category/Farms">
        <div><i class="fa-solid fa-cow"></i></div>
       <p>Farms</p>
      </a>
    </div>
     <div class="category-item">
      <a href="/listing/category/Arctic">
         <div><i class="fa-solid fa-snowflake"></i></div>
       <p>Arctic</p>
      </a>
    </div>
    <div class="category-item">
      <a href="/listing/category/Domes">
       <div><i class="fa-solid fa-igloo"></i></div>
        <p>Domes</p>
      </a>
      </div>

      <div class="category-item">
        <a href="/listing/category/Boats">
       <div><i class="fa-solid fa-ship"></i></div>
        <p>Boats</p>
      </a>
      </div>

      <!-- <div id="tax-switch">
        <div class="form-check form-switch">
        <label class="form-check-label" for="switchCheckDefault">Display after total taxes</label>
        <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
        </div>
      </div> -->

  </div>

  <button class="arrow right" onclick="scrollCat(300)">&#10095;</button>
</div>

    


   <div class="row row-cols-xl-3 row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
     <% for (let list of allListings) {%>
       <a href="/listing/<%= list._id %>">
        <div class="card">
        <img src="<%= list.image.url %>" class="card-img-top" alt="listing_image">
        <div class="card-img-overlay"></div>
        <div class="card-body">
        <p class="card-text">
         <b><%= list.title %></b> <br>
            &#8377;<%= list.price.toLocaleString('en-IN') %>/ Per night &nbsp;&nbsp;
            <i class="tax-toggle">+18%gst</i>
        </p>
  </div>
</div>
       </a>
    <% }%>
   </div>