<% layout('/layout/boilerplate.ejs') %>  
    <!-- <form action="/listing/new" method="get">
        <button>Create Listing</button>
    </form> -->

    <style>
      #filters{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }
      .filter{
        text-align: center;
        margin-left: 2.5rem;
        margin-top: 1rem;
        opacity: 0.8;
        cursor: pointer;
      }
      .filter:hover{
        opacity: 1;
      }
      .filter p{
        font-size: 0.8rem;
      }
      #tax-switch{
        border: 1px solid black;
        height: 3rem;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: 2.2rem;
      }
      .tax-toggle{
        display: none;
      }
      .form-check-input{
        cursor: pointer;
      }
    </style>

    <div id="filters">
      <div class="filter">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
      </div>

      <div class="filter">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p>Mountains</p>
      </div>

      <div class="filter">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
      </div>

      <div class="filter">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic cities</p>
      </div>

      <div class="filter">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <p>Castles</p>
      </div>

      <div class="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing Pools</p>
      </div>

      <div class="filter">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Capming</p>
      </div>

      <div class="filter">
        <div><i class="fa-solid fa-cow"></i></div>
        <p>farms</p>
      </div>

      <div class="filter">
        <div><i class="fa-solid fa-snowflake"></i></div>
        <p>Arctic</p>
      </div>

      <div class="filter">
        <div><i class="fa-solid fa-igloo"></i></div>
        <p>Domes</p>
      </div>

      <div class="filter">
        <div><i class="fa-solid fa-ship"></i></div>
        <p>Boats</p>
      </div>

      <div id="tax-switch">
        <div class="form-check form-switch">
        <label class="form-check-label" for="switchCheckDefault">Display after total taxes</label>
        <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
        </div>
      </div>

    </div>

   <div class="row row-cols-xl-3 row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
     <% for (let list of allListings) {%>
       <a href="/listing/<%= list._id %>">
        <div class="card">
        <img src="<%= list.image.url %>" class="card-img-top" alt="listing_image">
        <div class="card-img-overlay"></div>
        <div class="card-body">
        <p class="card-text">
         <b><%= list.title %></b> <br>
            &#8377;<%= list.price.toLocaleString('en-IN') %>/ Per night &nbsp;&nbsp;
            <i class="tax-toggle">+18%gst</i>
        </p>
  </div>
</div>
       </a>
    <% }%>
   </div>

   <script>
     let totalPrice = document.getElementById('tax-switch');
     let infotax = document.getElementsByClassName('tax-toggle');
      totalPrice.addEventListener('click', () =>{
            for(let info of infotax){
               if(info.style.display !== 'inline'){
                  info.style.display = 'inline';
               }else{
                info.style.display = 'none';
               }
            }
      });

   </script>